{% extends 'loginbase.html' %}
{% load core_tags %}
{% load url from future %}
{% block title %} Login{% endblock %}
{% block content %}
<script>

            jQuery(function($){

                // simple jQuery validation script
                $('#login').submit(function(){

                    var valid = true;
                    var errormsg = 'This field is required!';
                    var errorcn = 'error';

                    $('.' + errorcn, this).remove();

                    $('.required', this).each(function(){
                        var parent = $(this).parent();
                        if( $(this).val() == '' ){
                            var msg = $(this).attr('title');
                            msg = (msg != '') ? msg : errormsg;
                            $('<span class="'+ errorcn +'">'+ msg +'</span>')
                            .appendTo(parent)
                            .fadeIn('fast')
                            .click(function(){ $(this).remove(); })
                            valid = false;
                        };
                    });

                    return valid;
                });

            })
</script>

<form id="login" method="post" action=".">
    {% csrf_token %}
    <h1> Login to your account</h1>
    {% if form.errors %}
            <p class="error" style="left:5%;top:-30px;">Please enter a correct username and password.</p>
    {% endif %}
    <div id="log">
        <label for="id_username">Email</label> 
        <input type="text" name="username" id="id_username" class="field required" placeholder="Your username" title="Please provide your username" />
    </div>
    <div id="log">
	<label for="id_password">Password</label>
        <input type="password" name="password" id="id_password" class="field required" placeholder="Your password" title="Password is required" />
    </div>			
    <p class="forgot"> Forgot password? <a href="{% url 'auth_password_reset' %}">Reset it</a>!</p>
    <p class="forgot"> Not member? <a href="{% url 'registration_register' %}">Register</a>!</p>
    <p class="forgot"> See <a href="{% url 'offered_classes' %}"> what classes are  offered </a>!</p>

    <div class="submit">
        <input class="button" type="submit" value="Log in" />
        <input type="hidden" name="next" value="{{ next }}" />
        {% csrf_token %}
    </div>
</form>
{% endblock %}
