{% extends "base.html" %}
{% load core_tags %}
{% block theme %} <link href="{% static_path %}/css/blue.css" rel="stylesheet" type="text/css" /> {% endblock %}
{% block title %}  Change Password {% endblock %}


{% block content %}
<div class="parent">
<h2 class="title">Change Your Password</h2>
<div class="resend-password-wrapper">
<form class="signform" method="post" action=".">
    {% csrf_token %}
    <fieldset class="control-group">
    {{ form.as_p }}
    </fieldset>
    <input class="button" type="submit" value="Submit" />
</form>
</div>
</div>
{% endblock %}
