.rotate90 
{
 	clear:both;
	text-align: center;
	vertical-align: middle;
	width: 120px;
	margin: -30px;
	white-space: nowrap;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


div.ui-datepicker {
                font-size:12px;
}
