.report
{
font-family:Georgia, "Trebuchet MS", Arial, Helvetica, sans-serif;
width: 96%;
border-collapse:collapse;
table-layout:fixed;
text-align: center;
padding-left: 20px;

}

.report td, .report th
{
font-size:1em;
text-align:center;
border:1px solid #CDC9C9;
padding:3px 7px 2px 7px;
overflow: hidden;
word-wrap:break-word;
}

.report th
{
font-size:1.1em;
text-align:center;
padding-top:5px;
padding-bottom:4px;
background:#5f9be3;
color:#fff;

}

.report tr.alt td
{
color:#000000;
background-color:#EAF2D3;
}


