.tbody {
max-width:760px;
overflow-x:auto;
}

.green_table, .blue_table, .red_table
{
text-align: center;
}

.green_table td, .green_table th,.blue_table td, .blue_table th
{
font-size:0.9em;
border:1px solid #2B6652;
background-color:#fff;
}

.green_table th, .blue_table th
{
font-size: 0.85em;
text-align: center;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
text-transform:uppercase;
background-color:#32745E; 
color:#ffffff;
}

.green_table tr.alt td 
{
color:#000000;
background-color:#EAF2D3;
}

.red_table td, .red_table th
{
font-size:0.9em;
border:1px solid  #6F4242;
overflow: hidden;
word-wrap:break-word;
}

.red_table th
{
font-size:0.85em;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8); 
text-transform:uppercase;
background-color: #802A2A;
color:#ffffff;
}

.red_table tr.alt td
{
color:#000000;
background-color:#EAF2D3;
}

.blue_table {

text-align: center;

}

.blue_table td, .blue_table th
{
background-color:#fff;
border:1px solid  #00688B;
}

.blue_table th
{
background-color:#1D83AB;
text-align: center;

}
