<!DOCTYPE html>
<html lang="en">
<head>
<title>Services</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.6.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>
<script type="text/javascript" src="js/Swis721_Cn_BT_400.font.js"></script>
<script type="text/javascript" src="js/Swis721_Cn_BT_700.font.js"></script>
<script type="text/javascript" src="js/tabs.js"></script>

  <!--[if lt IE 9]>
  	<script type="text/javascript" src="js/html5.js"></script>
	<style type="text/css">
		.bg{ behavior: url(js/PIE.htc); }
	</style>
  <![endif]-->
	<!--[if lt IE 7]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg" border="0"  alt="" /></a>
		</div>
	<![endif]-->

</head>

<body id="page3">
	<div class="body1">
	<div class="body2">
	<div class="body5">
		<div class="main">
<!-- header -->
			<header>
				<div class="wrapper">
				<h1><a href="index.html" id="logo">Progress Business Company</a></h1>
				<nav>
					<ul id="menu">
						<li id="nav1"><a href="index.html">Home<span>Welcome!</span></a></li>
						<li id="nav3" class="active"><a href="Services.html">Features<span>for you</span></a></li>
						<li id="nav5"><a href="Contacts.html">Contacts<span>Our Address</span></a></li>
						<li id="nav4"><a href="">Sign In<span>to Our Site</span></a></li>
					</ul>
				</nav>
				</div>
			</header>
<!-- header end-->
		</div>
	</div>
	</div>
	</div>
	<div class="body3">
		<div class="main">
<!-- content -->
			<article id="content">
				<div class="wrapper">
					<h2 class="under">Features</h2>
					<div class="wrapper">
						<section class="cols">
							<div class="wrapper pad_bot1">
								<figure class="left marg_right1"><img src="images/page3_img1.gif" alt=""></figure>
								<h6>How Does Learning42 Work</h6>
								<p>Under construction</p>
							</div>
							<div class="wrapper">
								<figure class="left marg_right1"><img src="images/page3_img2.gif" alt=""></figure>
								<h6>Student Management</h6>
								<p>Manage student enrollment and payment with this module. </p>
							</div>
						</section>
						<section class="cols pad_left1">
							<div class="wrapper pad_bot1">
								<figure class="left marg_right1"><img src="images/page3_img3.gif" alt=""></figure>
								<h6>Class Administration</h6>
								<p>Customize your class requirements and grading policy. Keep track of grade, attendance and homework. </p>
							</div>
							<div class="wrapper">
								<figure class="left marg_right1"><img src="images/page3_img4.gif" alt=""></figure>
								<h6>Internal Social Network</h6>
								<p>Under construction</p>
							</div>
						</section>
						<section class="cols pad_left1">
							<div class="wrapper pad_bot1">
								<figure class="left marg_right1"><img src="images/page3_img5.gif" alt=""></figure>
								<h6>Calendar and Event</h6>
								<p>Publish school calendar and events.</p>
							</div>
							<div class="wrapper">
								<figure class="left marg_right1"><img src="images/page3_img6.gif" alt=""></figure>
								<h6>Customzied Site</h6>
								<p>Design and customize your presence to match your website and logo.
							</div>
						</section>
					</div>
				</div>

			</article>
		</div>
	</div>
	<div class="body4">
		<div class="main">
			<article id="content2">
				<div class="wrapper">
					<section class="col3">
						<h4>Why Us?</h4>
						<ul class="list1">
							<li><a href="#">Handle student enrollment and payment</a></li>
							<li><a href="#">Manage grade, attendant and homework</a></li>
							<li><a href="#">Internal social network </a></li>
							<li><a href="#">Calendar and event sharing</a></li>
						</ul>
					</section>
					<section class="col3 pad_left2">
						<h4>Address</h4>
						<ul class="address">
							<li><span>Country:</span>USA</li>
							<li><span>City:</span>Goldens Bridge</li>
							<li><span>Phone:</span>8 800 154-45-67</li>
							<li><span>Email:</span><a href="mailto:">admin@learning42.com</a></li>
						</ul>
					</section>
					<section class="col3 pad_left2">
						<h4>Follow Us</h4>
						<ul id="icons">
							<li><a href="#"><img src="images/icon1.jpg" alt="">Facebook</a></li>
							<li><a href="#"><img src="images/icon2.jpg" alt="">Twitter</a></li>
							<li><a href="#"><img src="images/icon3.jpg" alt="">LinkedIn</a></li>
							<li><a href="#"><img src="images/icon4.jpg" alt="">Delicious</a></li>
						</ul>
					</section>
					<section class="col2 right">
						<h4>Newsletter</h4>
						<form id="newsletter" method="post">
							<div>
								<div class="wrapper">
									<input class="input" type="text" value="Type Your Email Here"  onblur="if(this.value=='') this.value='Type Your Email Here'" onFocus="if(this.value =='Type Your Email Here' ) this.value=''" >
								</div>
								<a href="#" class="button" onClick="document.getElementById('newsletter').submit()">Subscribe</a>
							</div>
						</form>
					</section>
				</div>
			</article>
<!-- content end -->
		</div>
	</div>
		<div class="main">
<!-- footer -->
			<footer>
			</footer>
<!-- footer end -->
		</div>
<script type="text/javascript"> Cufon.now(); </script>
<script>
	$(document).ready(function() {
		tabs.init();
	})
</script>
</body>
</html>
