{% extends "base.html" %}
{% load core_tags %}
{% load url from future %}


{% block theme %} <link href="{% static_path %}/css/red.css" rel="stylesheet" type="text/css" /> {% endblock %}
{% block title %} Assignment  {% endblock %}

{% block content %}
<script>
    $(function() {
        $( "#date" ).datepicker();
        $( "#date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
        $( "#duedate" ).datepicker();
        $( "#duedate" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
    });
</script>
<div class="teacher">
    {% for gditem in gditems %}
    {{gditem.name}} <br/>
    {{gditem.assignmentDescr}}

    {% endfor %}

    <form class="red" action='{% url 'assignment' cat_id=category.eid %}' method='post'>
        <label> Name </label> <input type='text' name='Name'  value="{{category.name}} {{category.serial}}"/>  <br/>
        <label> Assign Date </label> <input type='text' id='date' name='date'  value="{{today}}"/>  <br/>
        <label> Assign Date </label> {{assign_date}}  <br/>

        <label> Description </label>  <textarea name='Descr'  value="{{category.assignmentDescr}}" rows=6 cols=60>  </textarea> <br/>
        <label> Due Date </label> <input id='duedate' type='text' name='duedate'  value="{{category.duedate}}"/>  <br/>

        {% csrf_token %}
        <input class="button" type="submit" name="Update" value="Update" />
    </form>
</div>
{% endblock %}
