{% extends "base.html" %}
{% load core_tags %}

{% block theme %} 

<link href="{% static_path %}/css/red.css" rel="stylesheet" type="text/css" /> 
<link rel="stylesheet" type="text/css" href="{% static_path %}/css/jquery.cleditor.css" />
<link href="{% static_path %}/css/record_attendance.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="{% static_path %}/js/jquery.cleditor.min.js"></script>

{% endblock %}

{% block title %} Assignments  {% endblock %}

{% block content %}
<script>
    $(function() {
        $( "#due_date" ).datepicker();
        $( "#due_date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
	
	 $("#Description").cleditor();	
    });
</script>
<div class="teacher">
    <div style="padding: 5px;">
    <h3 class="inCenter"> Assignments for Class {{category.classPtr.name}} </h3>

    {% if gditems %}
    <div class="record-tab">
	<div class="accordion" id="assignment">
	   <div class="accordion-group">
                        <div class="accordion-heading">
	   			<div class="row-fluid">
					<div class="span4" style="padding-left: 15px;"><h5>Name </h5></div>
					<div class="span4"><h5>Due Date  </h5></div>
	   			</div>
			</div>
	  </div> 
	   {% for gditem in gditems %}
  		<div class="accordion-group">
    			<div class="accordion-heading">
          		  <div class="row-fluid">
      			     <div class="span4">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#assignment" 
					href="#{{gditem.eid}}" style="text-decoration:underline;">
  					{{gditem.name}}	
      			        </a>
			     </div>
      			     <div class="span4" style="padding-top: 5px;" >{{gditem.duedate.isoformat}}</div>
			     <div class="span4" style="padding-top: 5px;">
				<a href="{{gditem.download_url}}"  target="_blank" >
					<button class="btn btn-small btn-info" type="button">Upload Files</button></a> 
			        <a href="{% url 'assignment_edit' aid=gditem.cid %}" > 
					 <button class="btn btn-small btn-warning" type="button">Edit</button></a> 
			        <a href="{% url 'del_assignment' aid=gditem.cid %}" >
					<button class="btn btn-small btn-danger" type="button">Delete</button></a>
			    </div>
    		    	 </div>
			</div>
    			<div id="{{gditem.cid}}" class="accordion-body collapse">
      			  <div class="accordion-inner well"><span class="label label-info">Homework Description:</span>
        			<p>{{gditem.assignmentDescr|safe}} </p>
      			  </div>
    			</div>
  		</div>
	  {% endfor %}
	</div>
    </div>
    {% endif %}

    <h3> New Assignment </h3> 
    <form class="red" action='{% url 'assignments' cat_id=category.eid %}' method='post'>
        <label> Name: </label> <input type='text' name='Name'  value="{{category.name}} {{category.serial}}"/>  <br/>
        {# <label> Assign Date </label> {{assignment_date}}  <br/> #}
        <label> Due Date: </label> {{due_date}}  <br/>

        <label> Description: </label><br /><div style="margin-left: 30px;">
        <textarea id="Description" name='Description' value="{{category.assignmentDescr}}" rows=0 cols=0></textarea><br/>
         </div>
        {% csrf_token %}
        <div style="margin-left: 30px;"><input class="button" type="submit" name="Update" value="Update" /></div>
    </form>
  </div>       
</div>
{% endblock %}
