{% extends "base.html" %}
{% load core_tags %}
{% load url from future %}
{% load markup %}



{% block theme %} <link href="{% static_path %}/css/red.css" rel="stylesheet" type="text/css" /> {% endblock %}
{% block title %} Assignment  {% endblock %}

{% block content %}
<script src="/static/js/nicEdit.js" type="text/javascript"></script>
<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>

						
<script>
    $(function() {
        $( "#assign_date" ).datepicker();
        $( "#assign_date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
        $( "#due_date" ).datepicker();
        $( "#due_date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
    });
</script>
<div class="teacher">
    <h3 class="title"> Homework for Class {{category.classPtr.name}} </h3>


    {% if gditems %}
    <table  class="red_table"> 
        <tr> <th> Name </th>  <th> Description </th> <th> Files </th> <th> Due Date </th> </tr>

        {% for gditem in gditems %}
        <tr> 
            <td><a href='{% url 'assignment_edit' aid=gditem.eid %}'> {{gditem.name}} </a> </td>
            <td> {{gditem.assignmentDescr|safe}}</td> 
            <td> <a href="{{gditem.download_url}}"  target="_blank" > upload </a> </td> 
            <td> {{gditem.duedate.isoformat}} </td> 
        </tr> 

        {% endfor %}
    </table>
    {% endif %}

    <h3> New Assignment </h3> 
    <form class="red" action='{% url 'assignments' cat_id=category.eid %}' method='post'>
        <label> Name </label> <input type='text' name='Name'  value="{{category.name}} {{category.serial}}"/>  <br/>
        {# <label> Assign Date </label> {{assignment_date}}  <br/> #}
        <label> Due Date </label> {{due_date}}  <br/>

        <label> Description </label><div style="margin-left: 35px; margin-top: 3px;"><textarea name='Description' value="{{category.assignmentDescr}}" rows=10 cols=90></textarea><br/>
         </div>
        {% csrf_token %}
        <input class="button" type="submit" name="Update" value="Update" />
    </form>
</div>
{% endblock %}
