{% extends "base.html" %}
{% load core_tags %}


{% block theme %} <link href="{% static_path %}/css/red.css" rel="stylesheet" type="text/css" /> 
<link rel="stylesheet" type="text/css" href="{% static_path %}/css/jquery.cleditor.css" />

<script type="text/javascript" src="{% static_path %}/js/jquery.cleditor.min.js"></script>

{% endblock %}
{% block title %} Assignment  {% endblock %}

{% block content %}
						
<script>
    $(function() {
        $( "#assign_date" ).datepicker();
        $( "#due_date" ).datepicker();
        $( "#due_date" ).datepicker( "option", "dateFormat", "mm-dd-yy" ).val("{{gi.duedate|date:"m-d-Y"}}");
	 $("#Description").cleditor();	
    });
</script>
<div class="teacher">
    <h3 class="title"> Homework for Class: {{gi.category.classPtr.name}} </h3>


    <h3> Edit Assignment </h3> 
    <form class="red" action='{% url 'assignment_edit' aid=gi.eid %}' method='post'>
        <label> Name: </label> <input type='text' name='Name'  value="{{gi.name}}" disabled="disabled"/> change not allowed <br/>
        {# <label> Assign Date </label> {{assignment_date}}  <br/> #}
        <label> Due Date: </label> {{due_date}}  <br/>

        <label> Description: </label><br />
        <div style="margin-left: 30px;"><textarea id="Description" name='Description'
          rows=0 cols=0>{{gi.assignmentDescr}}</textarea><br/>
         </div>
        {% csrf_token %}

        {% csrf_token %}
        <input class="button" type="submit" name="Update" value="Update" />
        <input class="button" type="submit" name="Delete" value="Delete this Homework" />
    </form>
    <a class="button" href='{% url 'del_all_homework_files' aid=gi.eid %}'> Delete all uploaded files (use carefully) </a> 
</div>
{% endblock %}
