{% extends 'base.html' %} 
{% load core_tags %}
{% load url from future %}


{% block theme %} <link href="{% static_path %}/css/red.css" rel="stylesheet" type="text/css" /> {% endblock %}
{% block title %}  Class Roaster {% endblock %}
{% block content %} 
<div class="teacher">
    <h2 class="title">Class Roster</h2>
    {% if students %}
    <div class="tbody">
        <table class="red_table"> 
            <tr align='center'> 
                <th> Student </th> 
                <th> Phone </th> 
                <th> Birthday </th> 
                <th> Gender </th> 
                <th> Home <br/> Lang.</th> 

                <th> Parents </th> 
                <th> eMail </th>
            </tr>
            {% for s in students %}
            <tr align='center'> 
                <td> {{s}} </td>
                <td> {{s.family.homePhone}} </td> 
                <td> {{s.birthday.isoformat}} </td>
                <td> {{s.gender}} </td>
                <td> {{s.homeLanguage}} </td>
                <td> {{s.family.parent1FirstName}} {{s.family.parent1LastName}},<br/>{{s.family.parent2FirstName}} {{s.family.parent2LastName}}  </td> 
                <td> <a href='mailto:{{s.family.emails}}'> {{s.family.emails}}</a>   </td> 
            </tr>
            {% endfor %}
        </table> 
        <br/>
        <a href='mailto:{% for s in students %}{{s.family.emails}},{% endfor %}'> Email all students </a> 
        <div> 
            All emails: {% for s in students %}{{s.family.emails}},{% endfor %}
        </div> 
    </div>
    {% else %}

    <h2> No student enrolled yet.  </h2> 
    {% endif %}
</div>
{% endblock %}
