{% extends 'base.html' %} 
{% load core_tags %}

{% block theme %} <link href="{% static_path %}/css/blue.css" rel="stylesheet" type="text/css" /> {% endblock %}
{% block title %}  Class Enrollment{% endblock %}
{% block content %} 
<div class="admin2">
    <h3 class="title"> Semester: {{ sem}} </h3>
        <table border=1>
            <tr>
                <th>Class</th>
                <th>Enrollment</th>
                <th>Students</th>
            </tr>

            {% for c in classes%}
            <tr>
                <td align="center">{{c.name}} </td>
                <td align="center">{{c.count}} </td>
                <td align="left">
                {% for s in c.students %} 
                   <a href="/admin_enroll/{{s.family.eid}}" style="text-decoration:underline;"> {{s}} </a> 
                   {% if not forloop.last %},{% endif %}
                 {% endfor %} 
                
                 </td>

            </tr>
            {% endfor %}
        </table>
</div>
{% endblock %} 

