{% extends 'base.html' %} 
{% load core_tags %}
{% load url from future %}

{% block theme %} <link href="{% static_path %}/css/blue.css" rel="stylesheet" type="text/css" /> {% endblock %}
{% block title %}   Add/Edit Class{% endblock %}
{% block content %} 

<div class="admin2">
    <br/>

 {% if theclass %}
    <form method='post' action='/edit_class/{{semester.eid}}/{{theclass.eid}}'>
 {% else %}
    <form method='post' action='/edit_class/{{semester.eid}}'> 
 
 {% endif %} 
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" name="Add/Edit Class" value="Update" />
    </form>

    {% if theclass %}
    <a href="{% url 'delete_class' theclass.eid %}"> delete this class </a>
    {% endif %} 
    <br/>
    <b> Use <a href='http://en.wikipedia.org/wiki/Markdown' target="_blank"> Markdown </a> syntax for class description </b>
</div>
{% endblock %} 


