{% extends "base.html" %}
{% load core_tags %}

{% block theme %} <link href="{% static_path %}/css/green.css" rel="stylesheet" type="text/css" /> {% endblock %}
{% block title %} Student {% endblock %}

{% block content %}
<script>
    $(function() {
        $( "#id_birthday" ).datepicker();
        $( "#id_birthday" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
    });
</script>

<div class="parent">
    <h2 class="title">Student Information</h2>
    <form class="signform" action="/edit_student{% if student.id %}/{{student.eid}}{% endif %}" method="POST"> 
	<div><label> First Name:* </label>  {{form.firstName}} 
        {% if form.firstName.errors%}{{form.errors.firstName}}{% endif %} </div>
        <div><label > Last Name:* </label>  {{form.lastName}}  
        {% if form.lastName.errors%}{{form.errors.lastName}}{% endif %} </div>
        <div> <label>Chinese Full Name: </label>  {{form.chineseFullName}} </div> 
        <div><label> Birthday:* </label> {{form.birthday}} 
        {% if form.birthday.errors%}<br/><br/>{{form.errors.birthday}}{% endif %} </div>
        <div><label> Main Language:* </label>  {{form.homeLanguage}}  
        {% if form.homeLanguage.errors%}<br/><br/>{{form.errors.homeLanguage}}{% endif %} </div>
        <div><label > Gender:* </label>  {{form.gender}}  
        {% if form.gender.errors%}<br/><br/>{{form.errors.gender}}{% endif %} </div>
        {{ form.non_field_errors }}
        {% csrf_token %}
	<br/>
	<div class="inCenter">
        {% if student %}
        <button class="btn btn-medium btn-green" type="submit" name="Update">Update Student Info </button> 
        {% else %}
        <button class="btn btn-medium btn-green" type="submit" name="Add Student">Add Student </button> 
        {% endif %}
	</div>
    </form> 
    <br/>
</div>

{% endblock %}


