{% extends 'base.html' %} 
{% load core_tags %}
{% load url from future %}

{% block theme %} <link href="{% static_path %}/css/blue.css" rel="stylesheet" type="text/css" /> {% endblock %}
{% block title %}   Add/Edit Class{% endblock %}
{% block content %} 

<div class="admin2">
    <br/>

 {% if theClass %}
    <form method='post' action='/edit_class/{{semester.eid}}/{{theClass.eid}}'>
 {% else %}
    <form method='post' action='/edit_class/{{semester.eid}}'> 
 
 {% endif %} 
		<label> Official Class Name: </label>{{ form.name }} <br />
                <label> Semester: </label>{{ form.semester }} <br /> 
		<label> Elective:</label>  {{ form.elective }} <br />
         	<label> Mandate: </label> {{ form.mandate }} <br />
         	<label> Elective Required:</label>{{ form.elective_required }} <br /> 
                <label> Head Teacher: </label> {{ form.headTeacher }} <br />
                <label> Assoc. Teacher 1: </label> {{ form.assocTeacher1 }} <br />
                <label> Assoc. Teacher 2: </label> {{ form.assocTeacher2 }} <br />
                <label> Record Attendance:</label>{{ form.recordAttendance }}<br />
                 <label> Record Grade:</label> {{ form.recordGrade }}<br />
		 <label> Description: </label> {{ form.description }}
		<br /> 
        {# {{ form.as_p }} #}
        {% csrf_token %}
        <br/><input class="btn btn-success" type="submit" name="Add/Edit Class" value="     Update     " />
	</div>
	</div>
    </form>

    {% if theClass %}
    <a href="{% url 'delete_class' theClass.eid %}"> delete this class </a>
    {% endif %} 
    <br/>
    <b> Use <a href='http://en.wikipedia.org/wiki/Markdown' target="_blank"> Markdown </a> syntax for class description </b>
</div>
{% endblock %} 


