{% extends "base.html" %}
{% load core_tags %}
{% block theme %} <link href="{% static_path %}/css/green.css" rel="stylesheet" type="text/css" /> {% endblock %}
{% block title %} Family {% endblock %}

{% block content %}
<div class="parent">
    <br />
    <h2 class="title">My Family Profile </h2>
    <form id="profile" action="/familyinfo"  method="POST"> 
        {{ form.non_field_errorss }}
	<div class="row-fluid">
	<fieldset class="the-fieldset span12 well">
            <legend class="the-legend">My Information </legend> 
            <div>
		<label id="required" > 
                {{form.parent1FirstName.help_text}}* </label> {{form.parent1FirstName}} 
	        {% if form.parent1FirstName.errors%} {{form.errors.parent1FirstName}}{% endif %}
	    </div>
            <div>
		<label id="required"> 
                {{form.parent1LastName.help_text}}* </label> {{form.parent1LastName}}
		{% if form.parent1LastName.errors%}{{form.errors.parent1LastName}}{% endif %}
	   </div> 
            <div><label>{{form.parent1ChineseFullName.help_text}}</label>{{form.parent1ChineseFullName}} {{form.parent1ChineseFullName.errors}} </div>
	    </fieldset> <!--fieldset-->
	</div>
	<div class="row-fluid">
        <fieldset class="the-fieldset span12 well" >
            <legend class="the-legend">Spouse Information</legend>   
            <div><label> {{form.parent2FirstName.help_text}}</label>{{form.parent2FirstName}} {{form.parent2FirstName.errors}} </div>
            <div><label> {{form.parent2LastName.help_text}}</label> {{form.parent2LastName}} {{form.parent2LastName.errors}} </div>
            <div><label> {{form.parent2ChineseFullName.help_text}}</label>{{form.parent2ChineseFullName}} {{form.parent2ChineseFullName.errors}} </div>
        </fieldset>
	</div>
	<div class="row-fluid">
        <fieldset class="the-fieldset span12 well">
            <legend class="the-legend">Address</legend>
            <div><label id="required" > 
                {{form.streetNumber.help_text}}* </label>  {{form.streetNumber}} 
		{% if form.streetNumber.errors%}{{form.errors.streetNumber}}{% endif %}
	    </div> 

            <div><label id="required" > 
                {{form.city.help_text}}* </label> {{form.city}}  
		{% if form.city.errors%}{{form.errors.city}}{% endif %}
	    </div> 

            <div><label id="required" > 
                {{form.state.help_text}}* </label>  {{form.state}}   
		{% if form.state.errors%}<br/><br/>{{form.errors.state}}{% endif %}
	    </div>

            <div><label id="required" > 
                {{form.zipcode.help_text}}*</label> {{form.zipcode}} 
		{% if form.zipcode.errors%}{{form.errors.zipcode}}{% endif %}
	    </div>   
        </fieldset>
	</div>
	<div class="row-fluid">
        <fieldset class="the-fieldset span12 well">
            <legend class="the-legend">Phones and Email</legend>
            <div><label id="required" > 
                {{form.homePhone.help_text}}* </label>  {{form.homePhone}} 
		{% if form.homePhone.errors%}{{form.errors.homePhone}}{% endif %}
	   </div>
            <div><label> {{form.mobilePhone.help_text}}</label> {{form.mobilePhone}} </div> 
            <div><label>Email</label>  <input type="text" class="input-large" value="{{request.user.email}}" disabled> </div>
            <div><label>{{form.altEmail.help_text}} </label>{{form.altEmail}}  </div>
            {#  {{form.participation.help_text}}  {{form.participation}} <label class="warning" >  {{form.participation.errors.as_text}}</label>   #}
        </fieldparent2FirstNamoset>
        * Required <br/>
	</div>
        {% csrf_token %}
	<div class="row-fluid">
  	<input type="submit" class="btn btn-info span4 offset3" value="Submit" />
	</div>

    </form> 
    <br />
</div>

{% endblock %}

