{% extends 'base.html' %}
{% load core_tags %}

{% block theme %} <link href="{% static_path %}/css/red.css" rel="stylesheet" type="text/css" /> {% endblock %}
{% block title %} Grading Weight Setting : {{theClass.name}} {% endblock %}
{% block content %}

{% if error %}
{{error}}
{% else %}
{% endif%}
<div class="teacher">
    <h2 class="title"> Grading Policy Setting for {{theClass.name}} </h2>
    <form class="grade" action="/grading_policy/{{theClass.eid}}" method="POST">
        <table class="red_table">
            <tr> <th> Category </th> <th> Weight </th>
                <th> Assignment </th> 
                {# <th> Order </th> #}
            </tr>
            {% for c in categories %}
            <tr>
                <td> <input type="text" name="category-{{c.eid}}" value="{{c.name}}" /> </td>
                <td> <input type="text" name="weight-{{c.eid}}" value="{{c.weight}}"/>%  </td>
                <td> <input type="checkbox" name="assignment-{{c.eid}}" value="assignment-{{c.eid}}" {%if c.hasAssignment %}checked="checked" {% endif %}/>  </td>
            </tr>
            {% endfor %}
        </table>
        Make sure weight add up to 100%. <br/>

        {% csrf_token %}
        <input class="button" type="submit"  value="Update" />
    </form>

<a href="{% url 'edit_class' sem_id=theClass.semester.eid class_id=theClass.eid %}"> 
Configure Class </a> 
<button class="btn btn-warning" type="button">
	<a href="/add_grading_category/{{theClass.eid}}"> Add category </a> <br/>
</button> 
</div>

{% endblock %}

