{% extends 'base.html' %} 
{% load core_tags %}
{% load url from future %}


{% block theme %} <link href="{% static_path %}/css/green.css" rel="stylesheet" type="text/css" /> {% endblock %}

{% block title %}  Dashboard {% endblock %}
{% block content %} 
<div class="parent">
    <h2 class="title">Manage Students</h2>
    <div>
        <table class="green_table table-striped">
            <tr>
                <th class="btn-green"><i class="icon-user"></i> Students</th>
		<th class="btn-green"><i class="icon-table"></i> Check</th> 
		<th class="btn-green"><i class="icon-file"></i> Assignment </th>
		<th class="btn-green"><i class="icon-file"></i> Report </th>

            </tr>
            {% for student in students %}
            <tr>
                <td><a href='{% url 'edit_student' sid=student.eid %}' style="text-decoration:underline;">{{student.firstName}} {{student.lastName}}</a> </td>
                <td><a href='{% url 'student_score' sid=student.eid%}' style="text-decoration:underline;">Attendance & Grades </a></td>
                <td> 
                    {% for category in student.assign_categories %}
                    <a href='{% url 'view_assignments' cat_id=category.eid %}' style="text-decoration:underline;"> {{category.classPtr.name}} {{category.name}} </a> <br/>
                    {% endfor %}

                </td>
                <td> 
                    {% for report_class in student.reports %}
                    <a target="_blank" href="{% url 'report_card' enrolldetail_id=report_class.enroll_detail.eid %}" style="text-decoration:underline;"> {{report_class}} {% if report_class.total_ready %} Final  {% else %} Progress {% endif %} Report </a> <br/>
                    {% endfor %}

                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="inCenter">
        <a class="btn btn-medium btn-green" href='{% url 'edit_student' %}'> <i class="icon-plus"></i> Add Student </a> 
        <a class="btn btn-medium btn-green" href={% url 'enroll_form' %}><i class="icon-edit"></i> Enroll </a> <br/>
    </div> 
</div>
{% endblock %} 

