{% extends 'base.html' %} 
{% load core_tags %}
{% load url from future %}


{% block theme %} 
<link href="{% static_path %}/css/red.css" rel="stylesheet" type="text/css" /> 
<link href="{% static_path %}/css/record_attendance.css" rel="stylesheet" type="text/css" /> 
{% endblock %}
{% block title %}  Record Attendances: {{theclass.name}} {% endblock %}
{% block content %} 
<script>
	$(function() {
		$("#calendar").datepicker({ altField: 'input#date', altFormat: 'yy-mm-dd' });


		$('#add').click(function() {  
    			return !$('#select1 option:selected').remove().appendTo('#select2');  
   		});  
   		
		$('#remove').click(function() {  
    			return !$('#select2 option:selected').remove().appendTo('#select1');  
   		}); 
		$('#summit').click(function() {

		}); 
	});
</script>

{% if error %}
{{error}}
{% else %}
<div class="teacher">
    <h3 class="title"> Class: {{theclass.name}} Attendance</h3>
</div>
<br />
<div class="teacher" style="height: 450px;">
   <div class="sidebar1"> 
	<h4 class="title">Step 1: Pick a date: </h4>
    	<div id="calendar"></div> 	
    </div>
    <div class="mainpane">
	<h4 class="title">Step 2: Record</h4>
	<br />
	<label>Date to record: </label>
	<input id="date" disabled="disabled type="textbox"/><br/><br />
	<div class="att_sub">
	  <label>Presence</label><br /> 
       	  <select multiple id="select1">  
   		<option value="1">Option 1</option>  
   		<option value="2">Option 2</option>  
   		<option value="3">Option 3</option>  
   		<option value="4">Option 4</option>  
  	  </select>  
        </div>
	<div class="att_sub">
	  <br /><br /> <br /><br/>
	  <br /><br /> <br /><br/>
          <a href="#" id="add">Absent&gt;&gt;</a>  
  	  <a href="#" id="remove">&lt;&lt;Presence</a>  
	</div>
	<div class="att_sub"> 
	  <label>Absent</label><br /> 
  	  <select multiple id="select2"></select>  
 	</div>  
    </div>
</div>
<div class="attfooter">
	<h4 class="title"><a href="#" id="summit"> Step 3: Summit</a></h4>
</div>
{% endif %}

{% endblock %}
