{% extends 'base.html' %} 
{% load core_tags %}
{% load url from future %}

{% block theme %} <link href="{% static_path %}/css/red.css" rel="stylesheet" type="text/css" /> {% endblock %}
{% block title %}  Record Attendances: {{theclass.name}} {% endblock %}
{% block content %} 

{% if error %}
{{error}}
{% else %}
<div class="teacher">
    <div style="padding: 15px;">
    <h2> Class: {{theclass.name}} Attendance</h2>
    <br />
    <a href="{% url 'add_new_attendance' class_id=theclass.eid %}" class="btn btn-success" style="text-decoration: none;"><i class="icon-plus"></i> Add New Record </a>
    <br /><br /><br />
    Current Records: 
    <table class="grade_table ui-widget-content ui-corner-all">
            <tr> 
                <th> Date </th>
		<th> Edit</th>
		<th> Delete</th>
            </tr>
	    <tr>
		<td> 9-10-2012 </td>
		<td> <a href="" class="btn btn-warning btn-mini" style="text-decoration: none; color: white;" > <i class="icon-pencil"> </i> Edit&nbsp; </a></td>
		<td> <a href="" class="btn btn-danger btn-mini" style="text-decoration: none; color: white;"> <i class="icon-trash"></i> Delete&nbsp; </a> </td>
            </tr>
	    <tr>
		<td> 9-10-2012 </td>
		<td> <a href="" class="btn btn-warning btn-mini" style="text-decoration: none; color: white;" > <i class="icon-pencil"> </i> Edit&nbsp; </a></td>
		<td> <a href="" class="btn btn-danger btn-mini" style="text-decoration: none; color: white;"> <i class="icon-trash"></i> Delete&nbsp; </a> </td>
            </tr>
	    <tr>
		<td> 9-10-2012 </td>
		<td> <a href="" class="btn btn-warning btn-mini" style="text-decoration: none; color: white;" > <i class="icon-pencil"> </i> Edit&nbsp; </a></td>
		<td> <a href="" class="btn btn-danger btn-mini" style="text-decoration: none; color: white;"> <i class="icon-trash"></i> Delete&nbsp; </a> </td>
            </tr>
      </table>
     </div>
</div>
{% endif %}

{% endblock %}
