
{% extends 'base.html' %} 
{% load core_tags %}
{% load url from future %}

{% block theme %} <link href="{% static_path %}/css/red.css" rel="stylesheet" type="text/css" /> {% endblock %}
{% block title %}  Record Grade {% endblock %}
{% block content %} 
<div class="teacher" style="min-height: 300px; padding: 10px;">
    <h2 class="title"> <a href='{% url 'record' theClass.eid %}'> Class: {{theClass}}</a> </h2> 
	<div style="padding: 20px 200px 40px 200px;">
        {% for cat in categories %}
        {% if cat.weight %}
        <a  class="teacherbutton" href='{% url 'record_grade'  cat_id=cat.eid  %}'> {{cat.name}} ({{cat.weight}}%) </a>  <br/><br/>
        {% endif %}
        {% endfor %}
	</div>
</div>
{% endblock %}
