{% extends 'base.html' %} 
{% load core_tags %}
{% load url from future %}

{% block theme %} 
<link href="{% static_path %}/css/red.css" rel="stylesheet" type="text/css" /> 
<link href="{% static_path %}/css/record_attendance.css" rel="stylesheet" type="text/css" /> 
{% endblock %}
{% block title %}  Record Attendances: {{theClass.name}} {% endblock %}
{% block content %} 

{% if error %}
{{error}}
{% else %}
<div class="teacher">
    <div style="padding: 15px;">
    <h3 class="inCenter"> Class: {{theClass.name}} Attendance</h3>
    <br />
    <a href="{% url 'add_new_attendance' class_id=theClass.eid %}" class="btn btn-success" style="text-decoration: none;"><i class="icon-plus"></i> Add New Record </a>
    <br /><br />
    <div class="record-tab"> 
    <table class="table table-bordered table-striped table-condensed">
            <tr> 
                <th> Date </th>
		<th> Edit</th>
		<th> Delete</th>
            </tr>
        {% for session in sessions %}
	    <tr>
		<td> {{session.date| date:"y-m-d"}} </td>
		<td> <a href="{% url 'edit_attendance' cs_id=session.eid %}" class="btn btn-warning btn-mini" style="text-decoration: none; color: white;" > <i class="icon-pencil"> </i> Edit&nbsp; </a></td>
		<td> <a href="{% url 'del_attendance' cs_id=session.eid %}" class="btn btn-danger btn-mini" style="text-decoration: none; color: white;"> <i class="icon-trash"></i> Delete&nbsp; </a> </td>
            </tr>
		{% endfor %}
      </table>
     </div>
     </div>
</div>
{% endif %}

{% endblock %}
