{% extends 'base.html' %} 
{% load core_tags %}
{% load url from future %}

{% block theme %} <link href="{% static_path %}/css/blue.css" rel="stylesheet" type="text/css" /> {% endblock %}
{% block title %}  Payments {% endblock %}
{% block content %} 
<div class="admin2">
    <h3 class="title"> Semester: {{ semester }} </h3>
    <form action="{% url 'payment' %}" method="post">
        {% csrf_token %}
        <table border=1>
            <tr>
                <td>Family ID</td>
                <th>Family Head</th>
                <th> Tuition Total</th>
                <th>Fully Paid</th>
                <th>Partial Paid</th>
                <th>Check/PayPal Number</th>
            </tr>

            {% for f in families.values %}
            <tr>
                <td align="center">{{f.id}} </td>
                <td align="center"><a href='{% url 'family_tuition' fid=f.eid %}'> {{ f.parent1}} </a> </td>
                <td align="center">
                    {% if f.tuition %}
                    <a href='{% url 'family_tuition' fid=f.eid  %}'> ${{ f.tuition.due}}</a></td>
                {% else %} 
                $0
                {% endif %}
                <td align="center"><input type="checkbox" name="fully_paid-{{f.eid}}" value="fully_paid-{{f.eid}}" {% if f.tuition.fully_paid %} checked="checked" {% endif %} </td>
                <td align="right"><input type="text" name="paid-{{f.eid}}" value="${{ f.tuition.paid}}"/> </td>
                <td align="center"><input type="text" name="checkno-{{f.eid}}" {% if f.tuition.checkno %} value="{{f.tuition.checkno }}" {% endif %}/> </td>

            </tr>
            {% endfor %}
        </table>
        <input type="submit"  name="submit" Value="Update">
    </form>
</div>
{% endblock %} 

