<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>
	<link href="../static/css/report.css" rel="stylesheet" type="text/css" />
    </head>


<body>
<h2 class="t1"> Northern Westchester Chinese School Report Card </h2>

<table class="basic">
		<tr>
		    <td class="title">Student Name: </td><td class="text">{{ student }}</td>
		    <td class="title">Class: </td><td class="text">{{theClass}}</td>  
                    <td class="title">Teacher:</td><td class="text">{{theClass.teachers}}</td></tr>

		<tr><td class="title">Semester:</td><td class="text">{{semester}}</td> 
		    <td class="title">Attendentce: </td><td colspan = "3" class="text"> {{num_present}}/{{num_sessions}}; Late for {{num_late}} times</td></tr>
		<tr><td class="title">Homework Turn in Rate: </td><td class="text"> 14/14 </td></tr>
</table>
<br /><br />
<h2> Attendance </h2> 
<table class="report">
    {% for row in attendances_rows %}
		<tr>
		    <th></th>
    	{% for session in row %}
    		<th> {{session.0 | date:"m/d/y"}}</th> 
    	{% endfor %} 
    	</tr> 
    	<tr> 
		    <th>Attendance</th>
    	{% for session in row %}
    		<th> {{session.1}} </th> 
    	{% endfor %} 
    	
		</tr>
	{% endfor %} 
</table> 
<br /><br />
<h2>Quiz</h2>
<table class="report">
		<tr>
		    <th></th>
		    <th>week 1</th>
		    <th>week 2</th>
		    <th>week 3</th>
		    <th>week 4</th>
		    <th>week 5</th>
		    <th>week 6</th>
		    <th>week 7</th>
		</tr>
		<tr>
		    <td>Score</td>
		    <td>89 </td>
		    <td>91 </td>
		    <td>92 </td>
		    <td>93 </td>
		    <td>94 </td>
		    <td>96 </td>
		    <td>100 </td>
		</tr>
		<tr>
                    <th></th>
                    <th>week 8</th>
                    <th>week 9</th>
                    <th>week 10</th>
                    <th>week 11</th>
                    <th>week 12</th>
                    <th>week 13</th>
                    <th>week 14</th>
                </tr>
                <tr>
                    <td>Score</td>
                    <td>89 </td>
                    <td>91 </td>
                    <td>92 </td>
                    <td>93 </td>
                    <td>94 </td>
                    <td>96 </td>
                    <td>100 </td>
                </tr>

</table>

<br />
<dl>
        <dt> Homework </dt>
        <dd>         
                <ol>
      	    		 	<li><span class="listitem">s1 </span></li>
                                <li><span class="listitem">s2 </span></li>
                                <li><span class="listitem">s3 </span></li>
                                <li><span class="listitem">s4 </span></li>
                                <li><span class="listitem">s5 </span></li>
                                <li><span class="listitem">s6 </span></li>
                                <li><span class="listitem">s7 </span></li>
                                <li><span class="listitem">s8 </span></li>
                                <li><span class="listitem">s9 </span></li>
                                <li><span class="listitem">s10 </span></li>
                                <li><span class="listitem">s11 </span></li>
                                <li><span class="listitem">s12 </span></li>
                                <li><span class="listitem">s13 </span></li>
                                <li><span class="listitem">s14 </span></li>

                </ol>
        </dd>
</dl>
	

	<br /> <br />
	<table class="report">
		<tr>
			<th> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
			<th> Raw Score </th>
			<th> Percentage % </th>
			<th> Weighted Score </th>
			<th> Class Average </th>
			<th> Highest Score </th>
		<tr>
		<tr> 
			<td> Ave. of Quiz </td>
			<td> </td>
			<td> 30% </td>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr>
		<tr> 
                        <td> Midterm Exam </td>
                        <td> </td>
                        <td> 15% </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                </tr>
		<tr> 
                        <td> Final Exam </td>
                        <td> </td>
                        <td> 15% </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                </tr>
		<tr> 
                        <td> Homework </td>
                        <td> </td>
                        <td> 40% </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                </tr>
		<tr>
			<td colspan="3">Total of Weighted Scores</td>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr>
	</table>
	<br /><br /> <br />	

	<h2> Levels of Chinese </h2>
	<table width="80%">
		<tr>
			<th>A: Excellent</th>
			<th>B: Good </th>
			<th>C: Oridnary </th>
			<th>D: Need to improve </th>
		</tr>
	</table>
	<table class="report" >
		<tr>
		<th>Listen</th>
		<th>Speak </th>
		<th>Read </th>
		<th>Write </th>
		<th>Translate</th>
		<th>Compose</th>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</table>
	<br />
	<h2> Teacher's Feedback</h2>
    </body>
</html> 
