<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>
	<link href="../static/css/report.css" rel="stylesheet" type="text/css" />
    </head>


<body>
<h2 class="t1"> Northern Westchester Chinese School Report Card </h2>
<div>

<h2>Basic Information</h2>
		<label>Student Name: <label>John Doe<br />
		<label>Class: </label>1A  <label>Teacher</label>Teacher A<br />
		<label>Semester: <label>2012 (year) September (month) to 2013 (year) January (month)<br />
		<label>Attendentce: </label> (# of Attendance) / (# of scheduled attendance )  Late (# of late attendance) </br>
		<label>Homework turn in rate: </label> (# of turned in) / (total # of homework) </br>
</div>

<div>
<dl>
	<dt> Quiz </dt>
	<dd> 
		<ol>
		  		<li>s1 </li>
		  		<li>s1 </li>
		  		<li>s1 </li>
		  		<li>s1 </li>
		  		<li>s1 </li>
		  		<li>s1 </li>
		  		<li>s1 </li>
		  		<li>s1 </li>
		  		<li>s1 </li>
		  		<li>s1 </li>
		  		<li>s1 </li>
		  		<li>s1 </li>
		  		<li>s1 </li>
		  		<li>s1 </li>
		</ol>
	</dd>
</dl>
</div>
<br />
<div>
<dl>
        <dt> Homework </dt>
        <dd>         
                <ol>
                                <li> s1 </li>
                                <li> s2 </li>
                                <li> s3 </li>
                                <li> s4 </li>
                                <li> s5 </li>
                                <li> s6 </li>
                                <li> s7 </li>
                                <li> s8 </li>
                                <li> s9 </li>
                                <li> s10 </li>
                                <li> s11 </li>
                                <li> s12 </li>
                </ol>
        </dd>
</dl>
	

</div>

	<br /> <br />
	<table class="report">
		<tr>
			<th> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
			<th> Raw Score </th>
			<th> Percentage % </th>
			<th> Weighted Score </th>
			<th> Class Average </th>
			<th> Highest Score </th>
		<tr>
		<tr> 
			<td> Ave. of Quiz </td>
			<td> </td>
			<td> 30% </td>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr>
		<tr> 
                        <td> Midterm Exam </td>
                        <td> </td>
                        <td> 15% </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                </tr>
		<tr> 
                        <td> Final Exam </td>
                        <td> </td>
                        <td> 15% </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                </tr>
		<tr> 
                        <td> Homework </td>
                        <td> </td>
                        <td> 40% </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                </tr>
		<tr>
			<th colspan="3">Total of Weighted Socres</th>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr>
	</table>
	<br /><br />	

	<h2> Levels of Chinese </h2>
	<table width="80%">
		<tr>
			<th>A: Excellent</th>
			<th>B: Good </th>
			<th>C: Oridnary </th>
			<th>D: Need to improve </th>
		</tr>
	</table>
	<table class="report" >
		<tr>
		<th>Listen</th>
		<th>Speak </th>
		<th>Read </th>
		<th>Write </th>
		<th>Translate</th>
		<th>Compose</th>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</table>
	<br />
	<h2> Teacher's Feedback</h2>
    </body>
</html> 
