<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>
    <title> Northern Westchester Chinese School Report Card for Class {{theClass}} </title> 
	<link href="../static/css/report.css" rel="stylesheet" type="text/css" />
    </head>


<body>
<h2 class="t1"> Northern Westchester Chinese School Report Card </h2>

<table class="basic">
		<tr>
		    <td class="title">Student Name: </td><td class="text">{{ student }}</td>
		    <td class="title">Class: </td><td class="text">{{theClass}}</td>  
                    <td class="title">Teacher:</td><td class="text">{{theClass.teachers}}</td></tr>

		<tr><td class="title">Semester:</td><td class="text">{{semester}}</td> 
		    <td class="title">Attendentce: </td><td colspan = "3" class="text"> {{num_present}}/{{num_sessions}}; Late for {{num_late}} times</td></tr>
		<tr><td class="title">Homework Turn in Rate: </td><td class="text"> 14/14 </td></tr>
		<tr> <td class="title"> Score: </td> <td class="text"> {{student.final_score}} </td> </tr> 
</table>
<br /><br />
	<h2> Summary </h2>
	<table class="report">
		<tr>
			<th> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
			<th> Raw Score </th>
			<th> Percentage % </th>
			<th> Weighted Score </th>
			<th> Class Average </th>
		<tr>
		{% for cat in categories %}
		<tr> 
			<td> {{cat.name}} </td>
			<td> {{cat.avg_score}}</td>
			<td> {{cat.weight}}% </td>
			<td> {{cat.weighted_score}}</td>
			<td> {{cat.class_avg}} </td>
			
		</tr>
		{% endfor %}
		<tr>
			<td colspan="3">Total of Weighted Scores</td>
			<td> {{student.final_score}}</td>
			<td> {{theClass.average}} </td>
		</tr>
	</table>
	<br /><br /> <br />	

<h2> Attendance </h2> 
<table class="report">
    {% for row in attendances_rows %}
		<tr>
		    <th></th>
    	{% for session in row %}
    		<th> {{session.0 | date:"m/d/y"}}</th> 
    	{% endfor %} 
    	</tr> 
    	<tr> 
		    <td>Attendance</td>
    	{% for session in row %}
    		<td> {{session.1}} </td> 
    	{% endfor %} 
    	
		</tr>
	{% endfor %} 
</table> 

{% for cat in categories %}
<br /><br />
 <h2>{{cat.name}}  ({{cat.weight}}%)</h2>
{% if cat.score_rows %}

<table class="report">
   {% for row in cat.score_rows %}
		<tr>
		    <th></th>		    
     {% for score in row %}
		    <th>{{score.0.name}}</th>
	 {% endfor %}
	    </tr><tr>
	    <td> Score </td>
     {% for score in row %}
		    <td>{{score.1}}</td>
	 {% endfor %}
	    </tr>
	   
   {% endfor %}
   </table> 
    <br/> 
	 
 {% else %} No score records 
 {% endif %}
 
{% endfor %}


	<br /> <br />

	<h2> Levels of Chinese </h2>
	<table width="80%">
		<tr>
			<th>A: Excellent</th>
			<th>B: Good </th>
			<th>C: Oridnary </th>
			<th>D: Need to improve </th>
		</tr>
	</table>
	<table class="report" >
		<tr>
		<th>Listen</th>
		<th>Speak </th>
		<th>Read </th>
		<th>Write </th>
		<th>Translate</th>
		<th>Compose</th>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</table>
	<br />
	<h2> Teacher's Feedback</h2>
	{{en.note|safe}}
    </body>
</html> 
