{% extends 'base.html' %} 
{% load core_tags %}
{% load url from future %}

{% block title %}  Semester Setup {% endblock %}
{% block content %} 

<hr/>
xx
<ul> 
    {% for sem in semesters %}
    <li> <a href='{% url 'semester' sem.id %}'> {{sem.schoolYear }} {{sem.semester}} </a>  </li> 
    {% endfor %}
</ul>
<hr/>

Add new semester 
<br/>
<form method='post' action='{% url 'semester' %}'> 
    {{ sform.as_p }}
    {% csrf_token %}
    <input type="submit" name="Add Semester" value="add" />


</form> 

{% endblock %} 

