{% extends 'base.html' %} 
{% load core_tags %}
{% load url from future %}

{% block theme %} <link href="{% static_path %}/css/blue.css" rel="stylesheet" type="text/css" /> {% endblock %}
{% block title %}  Semester Setup {% endblock %}
{% block content %} 
<div class="admin2">
    <h2 class="title">Managed Semesters and Classes</h2>
    <table class="blue_table">
        <tr>
            <th>Added Semesters</th><th></th><th></th><th></th>
        </tr>
        {% for sem in semesters %}
        <tr>
            <td> {{sem.schoolYear }} {{sem.semester}} </td> 
            <td><a href='/edit_semester/{{sem.eid }}'> Edit Semester </a> </td> 
            <td><a href='{% url 'classlist' sem_id=sem.eid %}'> Manage Classes </a> </td> 
            <td><a href='/grade_summaries/{{sem.eid}}'> Dean's Report </a> </td> 
        </tr>{% endfor %}
    </table>
    <a class="adminbutton" href='{% url 'edit_semester' %}'> Add new semester </a>
</div>
{% endblock %} 

