{% extends 'base.html' %} 
{% load core_tags %}
{% load url from future %}

{% block theme %} <link href="{% static_path %}/css/red.css" rel="stylesheet" type="text/css" /> {% endblock %}
{% block title %}  Dashboard {% endblock %}
{% block content %} 
<div class="teacher">
    <h2 class="title">Managed Classes</h2>
    <table class="red_table">
        <tr>
            <th>Class </th><th>Attendance</th><th>Assign</th><th>Grade</th><th>Student</th><th>Report</th>

        </tr>
        {% for c in teaches %}
        <tr>
            {% if c.recordGrade %} 
            <td><a href='{% url 'grading_policy' cid=c.eid%}'>{{c.name}}</a></td>  
            {% else %}
            <td>{{c.name}}</td>
            {% endif %}
            <td> 
                {% if c.recordAttendance %} 
                <a href='{% url 'record_attendance' class_id=c.eid  %}'> Attendance </a> 
                {% else %}
                -
                {% endif %} 
            </td> 
            <td> 
                {% for gc in c.assignment_categories %}
                <a href='{% url 'assignments' cat_id=gc.eid %}'> {{ gc.name }} <br/></a> 
                {% endfor %}
            </td> 
            <td>
                {% if c.recordGrade %} 
                <a href='{% url 'record' class_id=c.eid %}'>Record </a>
                {% else %} - {% endif %}
            </td> 
            <td><a href='{% url 'classroaster' cid=c.eid%}'>Contacts({{c.num_students}})</a></td>
            <td>
                {% if c.recordGrade %} 
                <a href='{% url 'prepare_report' class_id=c.eid %}'>Report <br/> (not ready) </a>
                {% else %} - {% endif %}
            </td> 

        </tr> 
        {% endfor %}
    </table> 
</div>
{% endblock %} 


