{% extends 'base.html' %} 
{% load core_tags %}
{% load url from future %}

{% block theme %} <link href="{% static_path %}/css/red.css" rel="stylesheet" type="text/css" /> {% endblock %}
{% block title %}  Dashboard {% endblock %}
{% block content %} 
<div class="teacher">
    <h2 class="title">Managed Classes</h2><br />
    <table class="red_table">
        <tr>
            <th><i class="icon-book"></i> Class </th>
	    <th><i class="icon-group"></i> Record</th>
            <th><i class="icon-list-alt"></i> Assign</th>
	    <th><i class="icon-ok-circle"></i> Grade</th>
	    <th><i class="icon-phone"></i> Student</th>
	    <th><i class="icon-table"></i> Report</th>
        </tr>
        {% for c in teaches %}
        <tr>
            {% if c.recordGrade %} 
            <td><a href='{% url 'grading_policy' cid=c.eid%}' style="text-decoration:underline;">{{c.name}}</a></td>  
            {% else %}
            <td>{{c.name}}</td>
            {% endif %}
            <td> 
                {% if c.recordAttendance %} 
                <a href='{% url 'record_attendance' class_id=c.eid  %}' style="text-decoration:underline;"> Attendance </a> 
                {% else %}
                -
                {% endif %} 
            </td> 
            <td> 
                {% for gc in c.assignment_categories %}
                <a href='{% url 'assignments' cat_id=gc.eid %}' style="text-decoration:underline;"> {{ gc.name }} <br/></a> 
                {% endfor %}
            </td> 
            <td>
                {% if c.recordGrade %} 
                {% for cat in c.gradingcategory_set.all %}
                  {% if cat.weight > 0 %}
                <a class="btn btn-mini btn{{forloop.counter}}" href='{% url 'record_grade' cat_id=cat.eid %}'>{{cat.name}} </a>
                {% endif %} 
                {% endfor %}
                {# <a class="btn btn-mini btn-warning" href='{% url 'record' class_id=c.eid %}'>Exam </a> #}
                {# <a class="btn btn-mini btn-info" href='{% url 'record' class_id=c.eid %}'>Home Work </a> #}
                {% else %} - {% endif %}
            </td> 
            <td><a href='{% url 'classroaster' cid=c.eid%}' style="text-decoration:underline;">Contacts({{c.num_students}})</a></td>
            <td>
                {% if c.recordGrade %} 
                <a href='{% url 'prepare_report' class_id=c.eid %}' style="text-decoration:underline;">Report <br/> (not ready) </a>
                {% else %} - {% endif %}
            </td> 

        </tr> 
        {% endfor %}
    </table> 
</div>
{% endblock %} 


